.main-container{
  width: 300px;
  height: 550px;
  display: flex;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.main-container .initial-screen {
  width: 100%;
  height: 100%;
  color: white;
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container .initial-screen .logo{
  font-size: 2em;
  margin-bottom: 30px;
}

.main-container .initial-screen .button-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  width: 100%;
}

.main-container .button {
  border: 1px solid white;
  font-size: 1.2em;
  width: 66%;
  height: 30px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
}

.main-container .button:hover {
  background: white;
  color: var(--mainColor);
  border: 1px solid var(--mainColor);
}

.initial-screen
.form-container {
  font-family: "Raleway";
  margin-left: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.form-container .divider {
  background: var(--mainColor);
  height: 150px;
  border-radius: 20px;
  width: 3px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 200px;
  justify-content: space-between;
}

.form-container form input {
  height: 45px;
  padding-left: 15px;
  border: none;
  outline: none;
  width: 100%;
  border-bottom: 2px solid rgba(96, 96, 96, 0.2);
  border-radius: 8px;
  transition: 0.5s all ease;
  transition: border 0.2s ease-in;
  box-sizing: border-box;
}

.form-container form input:focus {
  border-bottom: 2px solid var(--mainColor);
}

.form-container .forgot-password {
  font-size: 0.9em;
  margin-left: 7px;
  margin-top: 7px;
}

.form-container .forgot-password a {
  text-decoration-style: none;
  color: var(--mainColor);
}

.form-container button {
  background: var(--mainColor);
  padding: 10px;
  box-sizing: border-box;
  border: none;
  color: white;
  font-size: 1.7em;
  cursor: pointer;
  width: 100%;
  height: 50px;
  opacity: 1;
  box-shadow: 0 0 10px 1px var(--mainColor);
  transition: opacity 0.1s ease-in;
}

.form-container button:hover {
  opacity: 0.8;
}
