.welcome {
    background-image: url("https://i.imgur.com/Ip4mm7m.jpg");
    background-size: cover;
    width: 100vw;
    height: calc(100vh - 50px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.welcome .link-container {
    display: flex;
    width: 400px;
    justify-content: space-evenly;
    margin-bottom: 250px;
}

.welcome .link {
    color: black;
    cursor: pointer;
    background: white;
    font-size: 1.2em;
    font-family: "Raleway";
    font-weight: bold;
    padding: 15px;
    transition: background 0.1s ease-in, color 0.1s ease-in;
}

.welcome .link:hover {
    color: white;
    background: black;
}

.welcome .text{
    color: white;
    font-size: 5em;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    margin-bottom: 10px;
}